../node_modules
../myenv
/node_modules
/myenv
/onomics/catalog/_pycache_
/onomics/users/__pycache__
/onomics/theme/__pycache__
/onomics/onomics/__pycache__
/onomics/catalog/migrations
/onomics/users/migrations
/onomics/db.sqlite3
/catalog/_pycache_
/users/__pycache__
/theme/__pycache__
/onomics/__pycache__
/catalog/migrations
/users/migrations
/db.sqlite3
