../node_modules
../myenv
/node_modules
/myenv
/onomics/catalog/__pycache__
/onomics/users/__pycache__
/onomics/theme/__pycache__
/onomics/onomics/__pycache__
/onomics/catalog/migrations
/onomics/users/migrations
/onomics/db.sqlite3
/catalog/__pycache__
/users/__pycache__
/theme/__pycache__
/onomics/__pycache__
/catalog/migrations
/users/migrations
/db.sqlite3
/theme/static/css/dist/styles.css