{% load static tailwind_tags %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Onomics | Чтение {{comic.title}} Глава {{chapter.sequence_number}} - {{chapter.name}}</title>
  <link rel="icon" type="image/ico" href="{% static 'images/favico.ico' %}">
  {% tailwind_css %}
  <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
</head>

<body class="flex flex-col h-screen relative bg-[#121212]">
  <header
    class="fixed top-0 left-0 right-0 z-50 flex justify-between backdrop-blur-xl bg-opacity-60 bg-zinc-900 px-4 lg:px-40 py-1"
    id="header">
    <div class="flex items-center">
      <a href="/"><img src="{% static 'logo.svg' %}" alt="Logo" class="h-8 w-8 rounded-full" /></a>
      <nav class="flex items-center">
        <a href="{{ comic.get_absolute_url }}" class="px-4 py-1 text-gray-100 hover:text-gray-300 truncate">№{{chapter.sequence_number }} - {{ chapter.name }}</a>
      </nav>
    </div>
    <div class="w-auto">
      <!--<button class="px-4 py-4 text-gray-700 hover:text-gray-900">Sign In</button>-->
      {% if user.is_authenticated %}
      <div class="relative">
        <button class="menu-profile px-4 py-2 text-gray-100 hover:text-gray-300">
          <img src="{{ user.profile.avatar.url }}" alt="User" class="h-8 w-8 rounded-full" />
        </button>
        <div class="menu-profile-menu absolute right-0 w-48 rounded-lg bg-zinc-800 py-4 shadow-xl">
          <a href="{% url 'profile' %}" class="flex px-4 py-4 text-gray-100 hover:bg-zinc-700 items-center">{% bs_icon
            'person-square' %}<p class="mx-2">Профиль</p></a>
          {% if user.is_staff %}
          <a href="{% url 'admin-panel' %}" class="flex px-4 py-4 text-gray-100 hover:bg-zinc-700 items-center">{%
            bs_icon 'shield-fill' %}<p class="mx-2">Админ-панель</p></a>
          {% endif %}
          <a href="{% url 'addComicsPage' %}" class="flex px-4 py-4 text-gray-100 hover:bg-zinc-700 items-center">{%
            bs_icon 'plus-square-fill' %}<p class="mx-2">Добавить комикс</p></a>
          <a href="{% url 'addComicsPage' %}" class="flex px-4 py-4 text-gray-100 hover:bg-zinc-700 items-center">{%
            bs_icon 'bell-fill' %}<p class="mx-2">Уведомления</p></a>
          <a href="{% url 'bookmarks' %}" class="flex px-4 py-4 text-gray-100 hover:bg-zinc-700 items-center">{% bs_icon
            'tags-fill' %}<p class="mx-2">Закладки</p></a>
          <a href="{% url 'logout' %}" class="flex px-4 py-4 text-gray-100 hover:bg-zinc-700 items-center">{% bs_icon
            'x-square-fill' %}<p class="mx-2">Выйти</p></a>
        </div>
      </div>
      {% else %}
      <div class="relative my-2">
        <a href="{% url 'login_view' %}" class="px-2 text-gray-100 hover:text-gray-300 truncate py-4 h-8">Войти</a>
      </div>
      {% endif %}
    </div>
  </header>


  <!-- Right And Bottom Menu -->
  <div id="rightMenu--reader" class="fixed lg:right-0 bottom-[40%] z-20 lg:mr-3 max-lg:bottom-0 max-lg:h-14 max-lg:w-full">
    <nav class="flex justify-center items-center h-full ">
      <ul class="flex flex-col max-lg:flex-row max-lg:bg-[#171717] dmax-lg:w-full max-lg:justify-center max-lg:rounded-t-4xl text-gray-400 items-center ">
        <li>
          <select id="readerSelect"
            class="mr-10 readerSelect bg-transparent outline-0 border-0 appearance-none cursor-pointer duration-300 p-3 rounded-lg hover:bg-[#171717] focus:ring-[#5fa9c1] focus:bg-[#171717] focus:rounded-xl focus:outline-none focus:border-none active:border-none active:outline-none">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </li>
        <li class="">
          <button
            class="mr-10 hover:bg-[#171717] focus:bg-[#171717] hover:text-[#5fa9c1] focus:text-[#5fa9c1] active:text-[#5fa9c1] duration-300 p-2 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-fill"
              viewBox="0 0 16 16">
              <path
                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
            </svg>
          </button>
        </li>

        <li>
          <button class="mr-10 hover:bg-[#171717] focus:bg-[#171717] hover:text-[#5fa9c1] focus:text-[#5fa9c1] active:text-[#5fa9c1] duration-300 p-3 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-ol" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
              <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"/>
            </svg>
        </button>
        </li>

        <li>          
          <button class="mr-10 hover:bg-[#171717] focus:bg-[#171717] hover:text-[#5fa9c1] focus:text-[#5fa9c1] active:text-[#5fa9c1] duration-300 p-3 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
        </button>
        </li>

        <li>
          <button class="mr-10 hover:bg-[#171717] focus:bg-[#171717] hover:text-[#5fa9c1] focus:text-[#5fa9c1] active:text-[#5fa9c1] duration-300 p-3 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            <span class="text-base mt-1">1К</span>
        </button>
        </li>

        <li>
          <button class="mr-10 focus:bg-[#171717] hover:text-red-500 focus:text-red-500 active:text-red-500 duration-300 p-3 rounded-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
        </button>
        </li>
      </ul>
    </nav>
  </div>

  <!--Canvas reader-->
  <div id="blocks_container" class="flex flex-col items-center justify-center">

  </div>

  <!-- Bottom Menu -->
  <!-- <div id="bottom_menu" class="w-full fixed flex justify-center items-center bottom-0 mb-20">
      <div id="menu" class="bg-zinc-900 rounded-lg px-4 py-2 flex flex-wrap justify-between">
        <div class="px-2 hover:bg-zinc-800 rounded-lg items-center">{% bs_icon 'reply' color="white" size="1.5em" %}</div>
        <div class="px-2 hover:bg-zinc-800 rounded-lg items-center">{% bs_icon 'heart' color="white" size="1.5em" %}</div>
        <div class="px-2 hover:bg-zinc-800 rounded-lg items-center">{% bs_icon 'chat' color="white" size="1.5em" %}</div>
      </div>
    </div> -->
  <div class="w-full sm:w-[800px] h-12 hidden"></div>
  <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token }}">
  <input type="hidden" name="ch_id" id="ch_id" value="{{ chapter.id }}">
</body>

<!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/reader.js' %}"></script>

</html>