{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onomics</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/compiled/style.css' %}">
</head>
<body id="app" class="flex flex-col h-screen relative bg-[#121212] overflow-x-hidden">
</body>
<!--Context data from django in js-->
<script>
    let isUserAuthenticated = {{ user.is_authenticated|yesno:"true,false" }}
</script>
<script src="{% static 'frontend/main.js/main.js' %}"></script>
</html>