{% extends "base.html" %}

{% block content %}
<div class="flex my-4 justify-center">
  <a href="#" class="text-gray-100 bg-zinc-800 border-b-2 border-blue-500 px-2 sm:px-4 first:rounded-l-md last:rounded-r-md py-2 shadow-sm truncate hover:bg-zinc-700">
      Читаю
  </a>
  <a href="#" class="text-gray-100 bg-zinc-800 border-b-2 border-blue-500 px-2 sm:px-4 first:rounded-l-md last:rounded-r-md py-2 shadow-sm truncate hover:bg-zinc-700">
      Буду читать
  </a>
  <a href="#" class="text-gray-100 bg-zinc-800 border-b-2 border-blue-500 px-2 sm:px-4 first:rounded-l-md last:rounded-r-md py-2 shadow-sm truncate hover:bg-zinc-700">
      Прочитано
  </a>
  <a href="#" class="text-gray-100 bg-zinc-800 border-b-2 border-blue-500 px-2 sm:px-4 first:rounded-l-md last:rounded-r-md py-2 shadow-sm truncate hover:bg-zinc-700">
      Брошено
  </a>
</div>
<div class="flex flex-wrap justify-center">
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
  <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
  <div class="py-2">
      <div class="slider-item-image">
      <img src="https://placehold.jp/144x216.png" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
      <h3 class="text-gray-200">Название комикса</h3>
      </div>
  </div>
  <!--End-->
</div>         
{% endblock %}