{% extends "base.html" %}
{% load static tailwind_tags %}
{% load bootstrap_icons %}
  
{% block content %}
<div class="mx-0 w-full h-full xl:w-auto xl:mx-24 2xl:mx-64">
  <div class="container mx-auto flex flex-wrap pt-6 pb-2 px-4">
    
    <div id="tab_3" class="px-4 pt-4 w-full">
        <h1 class="text-gray-100 text-xl mx-2">Глава №{{ chapter.sequence_number }} - {{ chapter.name }}</h1>
        <!--Images files input-->
        <input type="file" name="blocks_input" id="blocks_input">
        <div id="blocks_container" class="flex flex-wrap">
          <!--Test-->
          <div class="w-full px-2 py-2">
            <div class="bg-gray-800 rounded-lg shadow-lg ">
              <div class="py-2 w-full flex justify-center">
                <img src="{% static 'blocks/800x1080.png' %}" alt="" class="w-[850px] sm:w-[756px] md:w-[896px] h-[500px] sm:h-[1080px] md:h-[1280px]">
              </div>
              <div class="px-2 py-2">
                <a href="}" class="text-gray-100 text-sm">Удалить</a>
              </div>
            </div>
          </div>
          <div class="w-full px-2 py-2">
            <div class="bg-gray-800 rounded-lg shadow-lg ">
              <div class="py-2 w-full flex justify-center">
                <img src="{% static 'blocks/800x1080.png' %}" alt="" class="w-[850px] sm:w-[756px] md:w-[896px] h-[500px] sm:h-[1080px] md:h-[1280px]">
              </div>
              <div class="px-2 py-2">
                <a href="}" class="text-gray-100 text-sm">Удалить</a>
              </div>
            </div>
          </div>
          <div class="w-full px-2 py-2">
            <div class="bg-gray-800 rounded-lg shadow-lg ">
              <div class="py-2 w-full flex justify-center">
                <img src="{% static 'blocks/800x1080.png' %}" alt="" class="w-[850px] sm:w-[756px] md:w-[896px] h-[500px] sm:h-[1080px] md:h-[1280px]">
              </div>
              <div class="px-2 py-2">
                <a href="}" class="text-gray-100 text-sm">Удалить</a>
              </div>
            </div>
          </div>
          <!--End test-->
    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--Sortable-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>
  <script>
    //blocks_input change event listener
    $('#blocks_input').change(function(){
      //add blocks to blocks_container
        for (let i = 0; i < this.files.length; i++) {
            const file = this.files[i];
            const reader = new FileReader();
            reader.addEventListener('load', function(){
            const block = `
                <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-2 py-2">
                <div class="bg-gray-800 rounded-lg shadow-lg">
                    <div class="px-2 py-2">
                    <img src="${this.result}" alt="" class="w-32 h-52">
                    </div>
                    <div class="px-2 py-2">
                    <a href="#" class="text-gray-100 text-sm">Редактировать</a>
                    </div>
                </div>
                </div>
            `;
            $('#blocks_container').append(block);
            });
            reader.readAsDataURL(file);
        }
    });

    //blocks_container sortable
    let sortable = new Sortable(blocks_container, {
      animation: 150,
      ghostClass: 'bg-gray-700',
      chosenClass: 'bg-gray-800',
      dragClass: 'bg-gray-800',
      handle: '.handle',
      onEnd: function(evt){
        console.log(evt);
      }
    });
  </script>
{% endblock %}