{% extends "base.html" %}
{% load static tailwind_tags %}
{% load bootstrap_icons %}
  
{% block content %}
<div class="mx-0 w-full xl:w-auto xl:mx-24 2xl:mx-64">
  <div class="container mx-auto flex flex-wrap pt-6 pb-2 px-4">
    <div class="px-4 pt-4 w-full sm:w-1/3 bg-zinc-900 rounded-md py-2">
      <div id='tab_1_btn' class="w-full items-center flex justify-center cursor-pointer hover:bg-zinc-800 rounded-md">
        <p class="mx-2">{% bs_icon 'person-badge-fill' color='white' size='1.2em' %}</p>
        <p class="w-full text-gray-100 py-2 items-center">Информация о комиксе</p>
      </div>
      <div id='tab_2_btn' class="w-full items-center flex justify-center cursor-pointer hover:bg-zinc-800 rounded-md">
        <p class="mx-2">{% bs_icon 'shield-lock-fill' color='white' size='1.2em' %}</p>
        <p class="w-full text-gray-100 py-2 items-center">Главы</p>
      </div>
      <div id='tab_3_btn' class="w-full items-center flex justify-center cursor-pointer hover:bg-zinc-800 rounded-md">
        <p class="mx-2">{% bs_icon 'brush-fill' color='white' size='1.2em' %}</p>
        <p class="w-full text-gray-100 py-2 items-center">Статистика</p>
      </div>
    </div>
    <div id="tab_1" class="px-4 pt-4 w-full sm:w-2/3">
      <h1 class="text-gray-100 text-xl mx-2">Информация о комиксе</h1>
      <div id="avatar_label" class="flex flex-wrap w-full mx-2 mb-2">
        <label for="avatar" class="text-gray-100 w-full mx-2">Обложка</label>
      </div>
      <div class="mt-4 flex flex-wrap">
        <img src="{{ comic.image.url }}" id="cover" class="h-96 w-72 rounded-md" alt="Avatar">
        <!--Input for upload avatar-->
        <input type="file" name="avatar" id="avatar" class="outline-0 border-none
        bg-zinc-900 rounded-md text-gray-100 outline-none w-full">
      </div>
      <div class="mt-4 flex flex-wrap" id="content_wrapper">
        <div id="comic_name" class="flex flex-wrap w-1/3 mx-2 mb-2">
            <label for="name" class="text-gray-100 w-full mx-2">Название</label>
            <input type="text" value="{{ comic.title }}" name="name" id="title" placeholder="Название" class="outline-0 border-none
            bg-zinc-900 rounded-md text-gray-100 outline-none">
        </div>
        <!--Tags and genres-->
        <div id="comic_description" class="flex flex-wrap w-full mx-2 mb-2">
          <label for="description" class="text-gray-100 w-full mx-2">Описание профиля</label>
          <textarea type="text" name="description" id="description" placeholder="Описание" class="outline-0 border-none
          bg-zinc-900 rounded-md text-gray-100 outline-none w-full">
            {{ comic.description}}
          </textarea>
        </div>
        <div id="save" class="flex flex-wrap w-1/3 mx-2 mb-2">
          <input type="button" name="save" onclick="edit();" id="save_btn" value="Сохранить" class="outline-0 border-none
          bg-zinc-900 rounded-md text-gray-100 outline-none hover:bg-blue-400">
        </div>
      </div>
    </div>
    <div id="tab_2" class="px-4 pt-4 w-full sm:w-2/3 hidden">
      <h1 class="text-gray-100 text-xl mx-2">Главы</h1>
        <div id="addChapter" class="flex flex-wrap w-1/3 mx-2 mb-2">
          <button name="addChapter" onclick="addChapter()" id="addChapter_btn" class="outline-0 border-none
          bg-zinc-900 rounded-md text-gray-100 outline-none hover:bg-blue-400 p-2 duration-[400ms]">
          {% bs_icon 'plus-lg' color='white' size='1.2em' %}
          </button>
          <input type="text" name="addChapterInput" onclick="" id="addChapter_name" class="outline-0 border-none
          bg-zinc-900 rounded-md text-gray-100 outline-none p-2 duration-[400ms]">
        </div>
        <div class="w-full" id="chapters">
          {% for chapter in chapters  %}
          <a id="_chapter" href="{{ chapter.get_absolute_edit_url }}" class="text-gray-200 cursor-pointer flex w-full bg-zinc-800 hover:bg-zinc-500 rounded-md px-4 py-2 mx-2 mb-1">
            <p class="mx-2">
              <div class="mr-2 w-10 flex">{% bs_icon 'hash' color='white' size='1.2em' %}
                <p class="ml-1" id="sequence_number">{{ chapter.sequence_number }}</p>
              </div>
              <p class="w-full" id="chapter_name">{{ chapter.name }}</p>
              <button onclick="deleteChapter({{ chapter.id }})" class="mx-2 p-2 bg-zinc-900 hover:bg-zinc-700 rounded-md" id="chapter_delete">{% bs_icon 'trash-fill' color='white' size='1.2em' %}</button>
              <p class="hidden" id="chapter_id">{{ chapter.id }}</p>
            </p>
          </a>
          {% endfor %}
        </div>
          
      </div>
    </div>
    <div id="tab_3" class="px-4 pt-4 w-full sm:w-2/3 hidden">
      <h1 class="text-gray-100 text-xl mx-2">Главы</h1>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--Sortable-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"></script>

  <script>
    //Change active tab using .hidden class
    $('#tab_1_btn').on('click', function() {
      $('#tab_1').removeClass('hidden');
      $('#tab_2').addClass('hidden');
      $('#tab_3').addClass('hidden');
    });
    $('#tab_2_btn').on('click', function() {
      $('#tab_1').addClass('hidden');
      $('#tab_2').removeClass('hidden');
      $('#tab_3').addClass('hidden');
    });
    $('#tab_3_btn').on('click', function() {
      $('#tab_1').addClass('hidden');
      $('#tab_2').addClass('hidden');
      $('#tab_3').removeClass('hidden');
    });
    //on change avatar input change cover
    $('#avatar').on('change', function() {
      let input = document.querySelector('#avatar');
      let file = input.files[0];
      let reader = new FileReader();
      reader.onload = function(e) {
        $('#cover').attr('src', e.target.result);
      }
      reader.readAsDataURL(file);
    });

    let sortable = new Sortable(chapters, {
      animation: 150,
      ghostClass: 'bg-zinc-500',
      onEnd: function(evt) {
        //get all chapters id's and sequence numbers, then send it to django server
        let chapters = document.querySelectorAll('#chapters a');
        let chapters_data = {};
        for (let i = 0; i < chapters.length; i++) {
          let chapter = {
            id: chapters[i].querySelector('#chapter_id').innerHTML,
            sequence_number: i + 1
          }
          chapters_data[i] = chapter;
        }
        let form_data = new FormData();

        //chapter data to dict 
        //chapters_data = $.param(chapters_data);

        form_data.append('chapters', JSON.stringify(chapters_data));

        //send data to server
        $.ajax({
          url: `/api/v1/chapters_seqence_numbers.put/{{ comic.id }}`,
          type: 'PUT',
          dataType: 'json',
          data: form_data,
          processData: false,
          contentType: false,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          },
          success: function(response) {
            console.log(response);
            //change sequence numbers in html code
            for (let i = 0; i < chapters.length; i++) {
              chapters[i].querySelector('#sequence_number').innerHTML = i + 1;
            }
          }
        })

      }
    });
    //delete chapter on click #chapter_delete api/v1/chapter.delete/<int:id>
    function deleteChapter(id) {
      $.ajax({
        url: `/api/v1/chapter.delete/${id}`,
        type: 'DELETE',
        dataType: 'json',
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response);
          //delete chapter from list
          let chapter = document.querySelectorAll(`#_chapter`)
          //find chapter with id and delete it
          for (let i = 0; i < chapter.length; i++) {
            if (chapter[i].querySelector('#chapter_id').innerHTML == id) {
              chapter[i].remove();
            }
            //change sequence numbers in html code after delete chapter and send it to server
            let chapters = document.querySelectorAll('#chapters a');
            let chapters_data = {};
            for (let i = 0; i < chapters.length; i++) {
              let chapter = {
                id: chapters[i].querySelector('#chapter_id').innerHTML,
                sequence_number: i + 1
              }
              chapters_data[i] = chapter;
            }
            let form_data = new FormData();

            //chapter data to dict
            //chapters_data = $.param(chapters_data);

            form_data.append('chapters', JSON.stringify(chapters_data));

            //send data to server
            $.ajax({
              url: `/api/v1/chapters_seqence_numbers.put/{{ comic.id }}`,
              type: 'PUT',
              dataType: 'json',
              data: form_data,
              processData: false,
              contentType: false,
              headers: {
                'X-CSRFToken': '{{ csrf_token }}'
              },
              success: function(response) {
                console.log(response);
                //change sequence numbers in html code
                for (let i = 0; i < chapters.length; i++) {
                  chapters[i].querySelector('#sequence_number').innerHTML = i + 1;
                }
              }
            })

          }
        }
      })
    }


    //add chapter
    function addChapter() {
      let name = document.querySelector('#addChapter_name').value;
      let form_data = new FormData();
      form_data.append('name', name);
      $.ajax({
        url: `/api/v1/chapters.post/{{ comic.id }}`,
        type: 'POST',
        dataType: 'json',
        data: form_data,
        processData: false,
        contentType: false,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response);
          //add new chapter to list
          let newChapter = document.createElement('a');
          newChapter.classList.add('text-gray-200', 'cursor-pointer', 'flex', 'w-full', 'bg-zinc-800', 'hover:bg-zinc-500', 'rounded-md', 'px-4', 'py-2', 'mx-2', 'mb-1');

          let newChapterText = document.createElement('p');
          newChapterText.classList.add('mx-2');

          let newChapterNumber = document.createElement('p');
          newChapterNumber.classList.add('mr-2', 'w-10');
          //add icon and number
          let newChapterNumberIcon = document.createElement('p');
          newChapterNumberIcon.classList.add('flex');
          newChapterNumberIcon.innerHTML = `{% bs_icon "hash" color="white" size="1.2em" %}`;
          let newChapterNumberText = document.createElement('p');
          newChapterNumberText.classList.add('ml-1');
          newChapterNumberText.innerHTML = response[0].sequence_number;

          let newChapterName = document.createElement('p');
          newChapterName.classList.add('w-full');
          newChapterName.innerHTML = response[0].name;

          newChapterNumber.append(newChapterNumberIcon);
          newChapterNumber.append(newChapterNumberText);
          newChapterText.append(newChapterNumber);
          newChapterText.append(newChapterName);
          newChapter.append(newChapterText);

          document.querySelector('#addChapter').after(newChapter);



        }
      })
    }

    function edit() {
        //get and read image file and add to data object to submit to django server
        let form_data = new FormData()
        let input = document.querySelector('#avatar')
        const file = input.files[0]
        form_data.append('image', file)
        form_data.append('title', document.querySelector('#title').value)
        form_data.append('description', document.querySelector('#description').value)
        console.log(form_data)

        $.ajax({
          url: `/api/v1/comics.put/{{ comic.id }}`,
          type: 'PUT',
          dataType: 'json',
          data: form_data,
          processData: false,
          contentType: false,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          },
          success: function(response) {
            console.log(response);
          }
        })
    }
  </script>
{% endblock %}