
{% extends "base.html" %}
{% load static tailwind_tags %}
{% load bootstrap_icons %}
{% block content %}
<div class="px-2 py-4 xl:px-20 sm:mx-4 sm:my-4 w-full h-full flex flex-wrap sm:flex-nowrap justify-center ">
    <div class="w-full h-auto sm:w-40 sm:h-64 flex flex-wrap justify-center sm:justify-between">

      <div class="relative">
        <div class="absolute bottom-0 mt-96 py-2 bg-black sm:hidden bg-opacity-60 h-20 inset-0 z-10 w-full px-4">
          <h1 class="text-gray-100 text-2xl block sm:hidden">{{ comic.title }}</h1>
          <p class="text-gray-300 inline sm:hidden">{{ comic.author.first_name}} {{ comic.author.last_name }}</p>
        </div>
        <img src="{{ comic.image.url }}" alt="Cover" class="rounded-md inset-0 w-full sm:w-52 "/>
      </div>
      <div class="w-full sm:w-40 flex flex-col">
        <a href="#" class="w-full text-center text-gray-200 my-2 bg-zinc-800 rounded-md px-4 py-4 sm:py-2 hover:bg-blue-700">Читать</a>
        {% if comic.author == user %}
        <a href="{% url 'editComicsPage' comic.id %}" class="w-full text-center text-gray-200 my-2 bg-zinc-800 rounded-md px-4 py-4 sm:py-2 hover:bg-blue-700">Редактировать</a>
        {% else %}
        <select name="bookmark" id="bookmark" class="w-full outline-none outline-0 border-none text-center cursor-pointer text-gray-200 bg-zinc-800 rounded-md px-4 py-4 sm:py-2 hover:bg-blue-700">
          <option value="del" {% if bookmark == 'del' %}selected{% endif %}>В закладки</option>
          <option value="will_read" {% if bookmark == 'will_read' %}selected{% endif %}>Буду читать</option>
          <option value="read" {% if bookmark == 'read' %}selected{% endif %}>Читаю</option>
          <option value="readed" {% if bookmark == 'readed' %}selected{% endif %}>Прочитано</option>
          <option value="droped" {% if bookmark == 'droped' %}selected{% endif %}>Брошено</option>
        </select>
        {% endif %}
        <div class="flex text-left bg-zinc-800 rounded-md my-2">
          <p class="text-gray-200 text-center w-1/2 border-r border-zinc-500 py-1 sm:py-0">Рейтинг<br> <span class="text-gray-400">{{ comic.rating }}</span></p>
          <p class="text-gray-200 text-center w-1/2 border-l border-zinc-500 py-1 sm:py-0">Статус<br> <span class="text-gray-400">{{ comic.status }}</span></p>
        </div>
      </div>
    </div>
    <div class="px-2 sm:px-0 sm:mx-4 w-full sm:w-auto h-full">
      <h1 class="text-gray-200 text-2xl hidden sm:block">{{ comic.title }}</h1>
      <div class="">
        <!--Description-->
        <p class="text-gray-300 hidden sm:inline">{{ comic.description }}</p>
        <div id="info" class="">
          <div class="bg-zinc-800 sm:bg-transparent rounded-lg ">
            <div class="hidden sm:flex flex-col">
              <p class="text-gray-400">Автор: <span class="text-gray-200">{{ comic.author.first_name}} {{ comic.author.last_name }}</span></p>
            </div>
            <div class="flex ">
              <p class="text-gray-400 px-4 py-2">Жанры: </p>
              <div class="flex flex-wrap mt-2">
                  {% for genre in genres %}
                  <span class="text-gray-200 bg-zinc-800 rounded-xl px-2 mx-2 mb-1">{{ genre.name }}</span>
                  {% endfor %}
              </div>
            </div>
          </div>
          <div class="flex sm:float-left w-full sm:w-auto py-2 justify-center sm:justify-none">
            <div id="views" class="flex items-center bg-zinc-800 py-2 px-4 rounded-l-lg justify-between">
              <img src="{% static 'eye.svg' %}" alt="views" class="w-8 h-4">
              <span class="text-gray-200 py-1 px-2">2.4K</span>
            </div>
            <div id="likes" class="flex items-center bg-zinc-800 py-2 px-4 justify-between">
              <img src="{% static 'heart.svg' %}" alt="likes" class="w-8 h-4">
              <span class="text-gray-200 py-1 px-2">1K</span>
            </div>
            <div id="comments" class="flex items-center bg-zinc-800 py-2 px-4 rounded-r-lg justify-between">
              <img src="{% static 'message_text.svg' %}" alt="comments" class="w-4 h-8">
              <span class="text-gray-200 py-1 px-2">1K</span>
            </div>
            <div id="share" class="mx-4 bg-gray-200 hidden sm:flex px-4 rounded-lg">
              <div class="float-right mt-4">
                <script type="text/javascript">
                  document.write(VK.Share.button(false, {type: "link", text: "Поделится"}));
                </script>
              </div>
            </div>
          </div>
          <div class="w-full flex flex-wrap my-4">
            <h2 class="text-gray-200 text-2xl w-full mx-4 my-2">Главы</h2>
            {% for chapter in chapters %}
            <a href="{{ chapter.get_absolute_url }}" class="text-gray-200 cursor-pointer flex justify-between w-full bg-zinc-800 hover:bg-zinc-500 rounded-md px-4 py-2 mx-2 mb-1">
              <div class="mr-2 w-10 flex">
                {% bs_icon 'hash' color='white' size='1.2em' %}
                <p class="ml-1" id="sequence_number">{{ chapter.sequence_number }}</p>
              </div>
              <p class="w-full" id="chapter_name">{{ chapter.name }}</p>
              <div class="flex">
                <img src="{% static 'eye.svg' %}" alt="views" class="w-4 h-4 mx-2">
                2.5K
              </div>
            </a>
            {% endfor %}
          </div>
          <h2 class="text-gray-200 text-2xl mx-4 my-2">Комментарии</h2>
          <div id="comments" class="w-full flex flex-wrap my-4">
            
            {% if isAuth %}
            <form class="w-full" method="post">
              {% csrf_token %}
              {{ formComment.as_p }}
              <input type="submit" value="Отправить"
              class="text-gray-200 bg-zinc-800 mx-2 px-4 py-2 rounded-md cursor-pointer hover:bg-blue-500">
            </form>
            {% else %}
            <div class="w-full bg-zinc-800 text-center items-center">
              <a href="{% url 'login_view' %}" class="text-gray-200">Пожалуйста, войдите в аккаунт чтобы написать комментарий.</a>
            </div>
            {% endif %}
              
            
            {% if isCommentsExists %}
            <div class="text-gray-200 mx-2 my-4 w-full h-full">
              
              {% for comment in comments  %}
              <div id="comment" class="flex my-2 p-4 bg-zinc-800 rounded-md">
              <img src="{% static comment.author.profile.avatar %}" alt="avatar" class="rounded-3xl w-9 h-9 mr-4">
                <div class="w-full flex flex-wrap">
                  <span class="w-full text-zinc-400">{{comment.author}}</span>
                  <span class="w-full">{{comment}}</span>
                </div>
                <img src="{% static 'heart.svg' %}" alt="like" class="w-8 h-4 mt-4 float-right">
              </div>
              {% endfor %}
                
              <!--<div class="w-full">
                <div id="comment" class="flex my-2 p-4 bg-zinc-800 rounded-md">
                  <img src="https://placehold.jp/150x150.png" alt="avatar" class="rounded-3xl w-9 h-9 mr-4">
                  <span class="w-full">Очень-очень-очень-очень-очень-очень-очень-очень-очень-очень-очень длинный первый комментарии</span>
                  <img src="{% static 'heart.svg' %}" alt="like" class="w-8 h-4 mt-4 float-right">
                </div>
                <div id="sub-comment" class="w-full">
                  <div class="flex float-right my-2 p-4 bg-zinc-800 rounded-md w-2/3">
                    <img src="https://placehold.jp/150x150.png" alt="avatar" class="rounded-3xl w-9 h-9 mr-4">
                    <span class="w-full">Ответ на очень-очень-очень-очень-очень-очень-очень-очень-очень-очень-очень длинный первый комментарии</span>
                    <img src="{% static 'heart.svg' %}" alt="like" class="w-8 h-4 mt-4 float-right">
                  </div>
                </div>
                <div id="sub-comment-addtion" class="w-full">
                  <div class="flex float-right my-2 p-4 rounded-md w-full">
                    <a href="#" class="">Другие ответы</a>
                  </div>
                </div>
                <div id="comment" class="flex my-2 p-4 bg-zinc-800 rounded-md">
                  <img src="https://placehold.jp/150x150.png" alt="avatar" class="rounded-3xl w-9 h-9 mr-4">
                  <span class="w-full">Еще один очень-очень-очень-очень-очень-очень-очень-очень-очень-очень-очень длинный первый комментарии</span>
                  <img src="{% static 'heart.svg' %}" alt="like" class="w-8 h-4 mt-4 float-right">
                </div>-->
            </div>

            {% else %}
            <div class="text-gray-200 mx-2 my-4 w-full">
              <div class="w-full bg-zinc-800 rounded-md text-center py-20">
                <p class="text-gray-200">Тут пока что нет комментариев, но ты можешь быть первым!</p>
              </div>
            </div>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="addition" class="w-full mx-2 sm:w-52">
    <h2 class="text-gray-200 w-full text-2xl mx-4 my-2">Другие комиксы</h2>
    <div class="bg-zinc-900 w-full rounded-md p-2 px-10 sm:px-0">
      {% for addition in comices %}
      <a href="/comics/{{ addition.id }}" class="flex flex-wrap justify-center text-gray-200 my-2">
        <img src="{{ addition.image.url }}" alt="Cover" class="rounded-md h-92 sm:h-auto w-80 sm:w-96"/>
        <span class="mx-0 text-lg w-full text-center">{{ addition.title }}</span>
      </a>
      {% endfor %}
    </div>
  </div>-->
</div>
{% endblock %}


{% block scripts %}
  <!--Jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    //on #bookmark changes check if bookmark exists for user
    //if not exists - create bookmark
    //if exists - update bookmark
    //if selected 1 option - delete bookmark
    //bookmark model in django
    /*
    class Bookmark(models.Model):
    id = models.AutoField(primary_key=True)
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    read = models.ManyToManyField('Comic', blank=True, related_name='read', verbose_name='Прочитано')
    readed = models.ManyToManyField('Comic', blank=True, related_name='readed', verbose_name='Читаю')
    droped = models.ManyToManyField('Comic', blank=True, related_name='droped', verbose_name='Брошено')
    will_read = models.ManyToManyField('Comic', blank=True, related_name='will_read', verbose_name='Буду читать')

    def __str__(self):
        return self.user.username
    */ 
    //views.py
    /*
    #bookmarks API (GET) with check is user authenticated
class BookmarksAPIView(APIView):
    def get(self, request):
        if request.user.is_authenticated:
            bookmarks = Bookmark.objects.filter(user=request.user)
            serializer = BookmarkSerializer(bookmarks, many=True)
            return Response(serializer.data)
        else:
            return Response({'error': 'User is not authenticated'})

#bookmarks API (POST) with check is user authenticated
class BookmarksAddAPIView(APIView):
    def post(self, request):
        if request.user.is_authenticated:
            serializer = BookmarkSerializer(data=request.data)
            if serializer.is_valid():
                serializer.save(user=request.user)
                return Response(serializer.data)
            else:
                return Response({'error': 'Data is not valid'})
        else:
            return Response({'error': 'User is not authenticated'})
        
#bookmarks API (DELETE) with check is user authenticated
class BookmarksDeleteAPIView(APIView):
    def delete(self, request, id):
        if request.user.is_authenticated:
            bookmark = Bookmark.objects.filter(id=id)
            bookmark.delete()
            return Response({'success': 'Bookmark was deleted'})
        else:
            return Response({'error': 'User is not authenticated'})

#update Bookmark API (PUT) with check is user authenticated
class BookmarksUpdateAPIView(APIView):
    def put(self, request, id):
        if request.user.is_authenticated:
            bookmark = Bookmark.objects.filter(id=id)
            serializer = BookmarkSerializer(bookmark, data=request.data)
            if serializer.is_valid():
                serializer.save()
                return Response(serializer.data)
            else:
                return Response({'error': 'Data is not valid'})
        else:
            return Response({'error': 'User is not authenticated'})
    */
    //urls.py
    /*
      path('api/v1/bookmarks.get', BookmarksAPIView.as_view()),
    path('api/v1/bookmarks.post', BookmarksAddAPIView.as_view()),
    path('api/v1/bookmarks.delete', BookmarksDeleteAPIView.as_view()),
    path('api/v1/bookmarks.put', BookmarksUpdateAPIView.as_view()),
    */
    
    //use csrf token


    //if selected bookmark exists in db - update it. Example - user read comic and want to add it to readed list. Delete from read list and add to readed list 
    //if selected bookmark not exists in db - create it. Example - user want to add comic to read list. Create new bookmark with read list
    //if selected 1 option - delete bookmark. Example - user want to delete comic from any list. Delete bookmark with any list where it exists
    //all bookmarks add to db with user id using next urls: 
    /*
    path('api/v1/bookmarks.get', BookmarksAPIView.as_view()),
    path('api/v1/bookmarks.post', BookmarksAddAPIView.as_view()),
    path('api/v1/bookmarks.delete/<int:id>/', BookmarksDeleteAPIView.as_view()),
    path('api/v1/bookmarks.put/<int:id>/', BookmarksUpdateAPIView.as_view()),
    */
    //bookmark model in django

    $('#bookmark').change(function() {
      var bookmark = $('#bookmark').val();
      var csrf_token = '{{ csrf_token }}';
      var comic_id = {{ comic.id }}; //get user id from django
      console.log(bookmark);
      var data = {
        'read': [],
        'readed': [],
        'droped': [],
        'will_read': []
      };
      if (bookmark == 'read') {
        data.read.push(Number(comic_id));
      } else if (bookmark == 'readed') {
        data.readed.push(Number(comic_id));
      } else if (bookmark == 'droped') {
        data.droped.push(Number(comic_id));
      } else if (bookmark == 'will_read') {
        data.will_read.push(Number(comic_id));
      } else if (bookmark == 'none') {
        data = {};
      }
      console.log(data);
      $.ajax({
        url: '/api/v1/bookmarks.put/',
        type: 'PUT',
        dataType: 'json',
        data: data,
        headers: {
          'X-CSRFToken': csrf_token
        },
        success: function(response) {
          console.log(response);
        }
      });

    });
    


  </script>
{% endblock  %}
  