{% extends "base.html" %}
{% load static tailwind_tags %}
{% block content %}
<form method="post"
  class="reg_block--div flex justify-center  my-32 md:w-[450px] h-[630px] mx-auto bg-zinc-900 rounded-lg shadow-xl">
  <div class="flex flex-col justify-center items-center">
    <h1 class="reg_register--text text-white font-bold text-lg mb-12">Подтвердите свой Email</h1>
    <h3 class="text-white text-base text-center mb-4"> Введите код, который был отправлен вам на почту</h3>
    <p class="text-gray-200">{{ message }}</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="text-center mt-6 text-white bg-[#5fa9c1] py-[5px] px-10 border-2 rounded-3xl border-[#5fa9c1] duration-[400ms] hover:bg-[#3f7081] hover:border-[#3f7081] active:bg-[#3f7081] active:border-[#3f7081]">Подтвердить</button>
  </div>
</form>

{% endblock %}