
{% extends "base.html" %}
{% load static tailwind_tags %}
{% block content %}
<!--Создать слайдер с классом slider на всю ширину экрана и высотой 264 px, где все -->
<div id="slider" class="slider h-74 w-auto overflow-y-hidden flex bg-zinc-900">
  {% for comic in comics %}
    <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
    <a class="slider-item py-4" href="{{ request.path }}comics/{{ comic.id }}">
      <div class="slider-item-image">
        <img src="{{ comic.image.url }}" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
        <h3 class="text-gray-200">{{ comic.title }}</h3>
      </div>
    </a>
    <!--End-->
  {% endfor %}
</div>
<!--comics-catalog-->
<!--Catalog header-->
<div class="mx-4 lg:mx-32 mt-4">
  <h1 class="font-bold text-gray-100 text-2xl">Ваша подборка</h1>
</div>
<!--End-->
<!--comics-catalog-->
<div class="mx-4 lg:mx-32 mt-2 flex flex-wrap m-auto">
  {% for comic in comics %}
     <!--Создать карточку комикса с названем снизу и картинкой 144x216 сверху-->
     <a class="py-4" href="{{ request.path }}comics/{{ comic.id }}">
      <div class="slider-item-image">
        <img src="{{ comic.image.url }}" alt="Comics" class="h-56 w-40 mx-2 rounded-md" />
      </div>
      <div class="slider-item-title mx-2">
        <h3 class="text-gray-200">{{ comic.title }}</h3>
      </div>
    </a>
  <!--End-->
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'slider.js' %}"></script>
{% endblock %}