<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="dist/style.css" />
  </head>
  <body>
    <header class="fixed top-0 left-0 right-0 z-50 flex justify-between backdrop-blur-xl bg-opacity-60 bg-zinc-900 px-4 lg:px-40 py-1">
      <div class="flex items-center">
        <img src="assets/logo.svg" alt="Logo" class="h-8 w-8 rounded-full" />
        <nav class="flex items-center">
          <a href="#" class="px-4 py-1 text-gray-100 hover:text-gray-300 truncate">Каталог</a>
          <a href="#" class="px-4 py-1 text-gray-100 hover:text-gray-300 truncate">В топе</a>
          <a href="#" class="px-4 py-1 text-gray-100 hover:text-gray-300 truncate">Поиск</a>
        </nav>
      </div>
      <div>
        <!--<button class="px-4 py-4 text-gray-700 hover:text-gray-900">Sign In</button>-->
        <div class="relative">
          <button class="menu-profile px-4 py-2 text-gray-100 hover:text-gray-300">
            <img src="assets/user.svg" alt="User" class="h-8 w-8 rounded-full" />
          </button>
          <div class="menu-profile-menu absolute right-0 w-48 rounded-lg backdrop-blur-xl bg-opacity-60 bg-zinc-700 py-4 shadow-xl">
            <a href="#" class="block px-4 py-4 text-gray-100 hover:bg-zinc-800 backdrop-blur-xl bg-opacity-60">Закладки</a>
            <a href="#" class="block px-4 py-4 text-gray-100 hover:bg-zinc-800 backdrop-blur-xl bg-opacity-60">Профиль</a>
            <a href="#" class="block px-4 py-4 text-gray-100 hover:bg-zinc-800 backdrop-blur-xl bg-opacity-60">Выйти</a>
          </div>
        </div>
      </div>
    </header>
    <div class="h-8 mt-5"><br></div>
    <content class="w-auto h-auto">
        <div class="container mx-auto py-6 px-4">
            <h1 class="text-2xl font-bold text-gray-100 mb-4">Настройки профиля</h1>
            <form>
              <div class="mb-4">
                <label for="avatar" class="block text-gray-100 text-sm font-bold mb-2">Аватар</label>
                <input type="file" id="avatar" class="form-input w-full py-2 px-3 text-gray-100 leading-tight rounded-lg focus:outline-none focus:shadow-outline-blue">
              </div>
              <div class="mb-4">
                <label for="name" class="block text-gray-100 text-sm font-bold mb-2">Имя</label>
                <input type="text" id="name" class="form-input w-full py-2 px-3 text-gray-700 leading-tight rounded-lg focus:outline-none focus:shadow-outline-blue">
              </div>
              <div class="mb-4">
                <label for="status" class="block text-gray-100 text-sm font-bold mb-2">Статус</label>
                <input type="text" id="status" class="form-input w-full py-2 px-3 text-gray-700 leading-tight rounded-lg focus:outline-none focus:shadow-outline-blue">
              </div>
              <div class="mb-4">
                <label for="password" class="block text-gray-100 text-sm font-bold mb-2">Пароль</label>
                <input type="password" id="password" class="form-input w-full py-2 px-3 text-gray-700 leading-tight rounded-lg focus:outline-none focus:shadow-outline-blue">
              </div>
              <div class="mb-4">
                <label for="password_confirmation" class="block text-gray-100 text-sm font-bold mb-2">Подтверждение пароля</label>
                <input type="password" id="password_confirmation" class="form-input w-full py-2 px-3 text-gray-700 leading-tight rounded-lg focus:outline-none focus:shadow-outline-blue">
              </div>
              <div class="mb-4">
                <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                  Сохранить
                </button>
              </div>
                    
    </content>
    <!--Footter-->
    <!--Scripts-->
    <script src="slider.js"></script>
  </body>
</html>
